<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1>Health Care Consulting</h1>
          <p>Expertise across multiple health care delivery channels with a focus on STAR Ratings and Medication Therapy Management</p>
          <p><a class="btn btn-lg btn-primary" href="mailto:lisarerwin@gmail.com" role="button">Contact us today</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <!--<img src="https://www.csipay.com/inc/img/ShootingStar_LightBkgrd.png">-->
      <div class="container">
        <div class="carousel-caption">
          <h1>We do it all.</h1>
          <ul class="list-inline">
            <li>Medicare Part D Clinical Compliance</li> 
            <li>Managed Care Geriatric Strategies - Medication Therapy Management/Disease Management Pharmaceutical Company /Payer Strategies</li>
            <li>Healthcare Advertising Agency Medical Direction</li>
            <li>Clinical Program Content Oversight and Development</li>
            <li>Website Content Development - Consumers and Professionals</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://img.bleacherreport.net/img/images/photos/003/232/902/b39d47fe2249417829a30a6c5f67cc2e_crop_north.jpg?w=630&h=420&q=75">
      <div class="container">
        <div class="carousel-caption">
          <h1>The Ohio State University</h1>
          <p>The Buckeyes are the 2015 national champions. And, #1 in our hearts!</p>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.carousel -->
<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 3000
    })
  });
</script>
