<h2>Core Elements of Medication Therapy Management</h2><br>
<dl class="dl-horizontal">
  <dt>Medication Therapy Review</dt>
  <dd>The medication therapy review (MTR) is a systematic process of collecting patient-specific information, assessing medication therapies to identify medication-related problems, developing a prioritized list of medication-related problems, and creating a plan to resolve them.</dd>
  <dt>Personal Medication Record</dt>
  <dd>The personal medication record (PMR) is a comprehensive record of the patient’s medications (prescription and nonprescription medications, herbal products, and other dietary supplements).</dd>
  <dt>Medication-Related Action Plan</dt>
  <dd>The medication-related action plan (MAP) is a patient-centric document containing a list of actions for the patient to use in tracking progress for self-management.</dd>
  <dt>Intervention and/or Referral</dt>
  <dd>The pharmacist provides consultative services and intervenes to address medication-related problems; when necessary, the pharmacist refers the patient to a physician or other healthcare professional.</dd>
  <dt>Documentation and Follow-up</dt>
  <dd>MTM services are documented in a consistent manner, and a follow-up MTM visit is scheduled based on the patient’s medication-related needs, or the patient is transitioned from one care setting to another.</dd>
</dl>