<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Lisa Erwin. <span class="text-muted">President.</span></h2>
      <p class="lead">I graduated from the University of Michigan but don't hold that against me. This text is meant to fill up the empty space so you can see how the page will look after you add your own content. This text is meant to fill up the empty space so you can see how the page will look after you add your own content.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/4/000/13d/3d0/193cb65.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Fido. <span class="text-muted">Chief Food Officer.</span></h2>
      <p class="lead">I'm man's best friend. This text is meant to fill up the empty space so you can see how the page will look after you add your own content. This text is meant to fill up the empty space so you can see how the page will look after you add your own content.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="http://www.smithfarmslabradors.com/images/females/yellow-lab_tanya_007.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
</div>