<div class="row">
  <div class="col-md-7">
    <h2>Distribution of 2015 Part D Summary Ratings: 
        <div ng-init="selected = 'MAPD'" class="btn-group">
          <label class="btn btn-success" ng-model="selected" btn-radio="'MAPD'">MAPD</label>
          <label class="btn btn-success" ng-model="selected" btn-radio="'PDP'">PDP</label>
      </div>
    </h2>
  </div>
</div>
<div class="row featurette">
  <div class="col-md-7">
    <div id="chart1"></div>
  </div>
  <div class="col-md-5">
    <h2 class="featurette-heading">Oh yeah, we're that good. <span class="text-muted">See for yourself.</span></h2>
    <p>We are pharmacists but we can do more than count by fives.</p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5">
    <h2 class="featurette-heading">Something clever here. <span class="text-muted">Bla bla bla.</span></h2>
    <p>Yes and no.</p>
  </div>
  <div class="col-md-7">
    <div class="row">
      <h2>Contracts with 4+ Stars for Part D Summary Ratings</h2>
    </div>
    <div class="row">
      <div id="chart2"></div>
    </div>
  </div>
</div>
